<!DOCTYPE html>
 <html lang="en" data-ng-app="myApp">
 <head>
 <meta charset="utf-8">
 <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title><%= content_for?(:title) ? yield(:title) : "shareup" %></title>
 <%= csrf_meta_tags %>
 <%= stylesheet_link_tag "application", :media => "all" %>
 </head>
<body>
<header>
  <ul>
    <% if user_signed_in? %>

        <li><%= link_to "Home", home_index_path %></li>
        <li><%= link_to "Games", games_path %></li>
        <li><%= link_to "Raffle", raffle_index_path %></li>
        <li><a href="<%= destroy_user_session_path %>" data-method="delete">Sign out</a></li>

    <% else %>
        <li><a href="<%= new_user_session_path %>">Sign in </a></li>
        <li><a href="<%= new_user_registration_path %>">Sign up</a></li>
    <% end %>
  </ul>

</header>
 <div class="container">
 <h1>Text!</h1>
 <div data-ng-view></div>
 </div> <!-- /container -->
 <%= javascript_include_tag "application" %>
 </body>
 </html>