<%= stylesheet_link_tag "style_countries" %>
<%= javascript_include_tag "countries" %>


<section id="preguntas">
  <article class="preg">
    Japan
  </article>

  <article class="preg">
    United states
  </article>

  <article class="preg">
    France
  </article>

  <article class="preg">
    United kingdom
  </article>

  <article class="preg">
    China
  </article>

  <article class="preg">
    Germany
  </article>



  <div id="respuestas">
    <%= image_tag "level1/china.png", :class => "respuesta" , :alt => "china"%>
    <%= image_tag "level1/germany.png", :class => "respuesta" , :alt => "germany"%>
    <%= image_tag "level1/england.png", :class => "respuesta", :alt => "england" %>
    <%= image_tag "level1/japan.png", :class => "respuesta" , :alt => "japan"%>
    <%= image_tag "level1/usa.png", :class => "respuesta" , :alt => "usa"%>
    <%= image_tag "level1/france.png", :class => "respuesta" , :alt => "france"%>

  </div>

</section>
<div id="resultados">

</div>


