<!DOCTYPE html>
<html>
<head>
  <title>MyRiaApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
        <ul>
          <li><%= link_to "Home", home_index_path %></li>
          <li><%= link_to "Games", games_path %></li>
          <li><%= link_to "Raffle", raffle_index_path %></li>
          <li><%= link_to "Sign in", '#' %></li>
        </ul>

</header>
<div id="container">
  <%= yield %>
</div>

</body>
</html>
