<!DOCTYPE html>
<html>
<head>
  <title>MyRiaApp</title>
  <link href="//releases.flowplayer.org/5.4.0/skin/minimalist.css" rel="stylesheet">

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <script src="//releases.flowplayer.org/5.4.0/flowplayer.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<header>

<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Go Wild!</a>
    <ul class="nav">
      <li class="active"><%= link_to "Home", home_index_path %></li>
      <li><%= link_to "Games", games_path %></li>
      <li><%= link_to "Videos", games_videos_path %></li>
      <li><%= link_to "Who eats what?", games_who_eats_path %></li>
      <li><%= link_to "Raffle", raffle_index_path %></li>
      <li><%= link_to "Sign in", new_user_session_path %></li>
    </ul>
  </div>
</div>

</header>
<div id="container">
  <%= yield %>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
<script src="//releases.flowplayer.org/5.4.0/flowplayer.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-resource.min.js"></script>
<%= javascript_include_tag "application" %>
</body>
</html>
